<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="others.mapper.TestMapper">

  <select id="queryDbName" resultType="java.lang.String">
    SELECT DATABASE() AS database_name;
  </select>
</mapper>